
.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    animation-name: moveDown;
    animation-duration: 1.5s;
}

.aboutHeader {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: -0.75px;
    margin-top: -4px;
}

.aboutText {
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    width: 88vw;
}

.company {
    color: #7351FF;
    font-weight: 800;
}

.btn {
    background: #7351FF;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    animation: pulsate 2s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 50px #7351FF,
        0 0 75px #FFFFFF;
    }
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);

    }
}
/* responsive design */
@media (max-width: 768px) {

    .aboutHeader {
        font-size: 32px;
    }

    .aboutText {
        font-size: 16px;
    }
    
    .btn {
        font-size: 14px;
        border: none;
        border-radius: 0;
        background: none;
        padding: 0;
        color: black;
    }

    .btn:hover {
        animation: none;
    }
}

@media (max-width: 480px) {

    .aboutHeader {
        font-size: 28px;
    }

    .aboutText {
        font-size: 12px;
    }
    
    .btn {
        font-size: 10px;
    }
}
