
.About {
    height: 100vh;
    animation-name: moveDown;
    animation-duration: 1.5s;
    background: #282828;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutHeader {
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
}

.aboutText {
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    width: 88vw;
}

.company {
    color: #BFAFF2;
    font-weight: 800;
}

.btn, .btn:hover {
    background: #BFAFF2 !important;
    width: 150px;
    height: 40px;
    border: 1px solid #BFAFF2 !important;
    border-radius: 50px;
    padding: 10px 20px;
    color: #282828 !important;
    font-size: 18px;
    text-decoration: none;
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);

    }
}
/* responsive design */
@media (max-width: 768px) {

    .aboutHeader {
        font-size: 32px;
    }

    .aboutText {
        font-size: 16px;
    }
    
    .btn {
        font-size: 14px;
        border: none;
        border-radius: 0;
        background: none;
        padding: 0;
        color: black;
    }

    .btn:hover {
        animation: none;
    }
}

@media (max-width: 480px) {

    .aboutHeader {
        font-size: 28px;
    }

    .aboutText {
        font-size: 12px;
    }
    
    .btn {
        font-size: 10px;
    }
}
