
.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.aboutHeader {
    font-size: 48px;
    font-weight: 800;
}

.aboutText {
    width: 72vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 24px;
}

.company {
    color: #7351FF;
    font-weight: 800;
}

.btn {
    background: #7351FF;
    border: 2px solid #7351FF;
    width: 200px;
    height: 90px;
    color: #fff;
    font-size: 18px;
    text-decoration: none; 
    cursor: pointer;
}