/* .About için stiller */
.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.aboutHeader {
    font-size: 48px;
    font-weight: 800;
}

.aboutText {
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    width: 88vw;
}

.company {
    color: #7351FF;
    font-weight: 800;
}

.btn {
    background: #7351FF;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

/* Tabletler ve telefonlar için medya sorguları */
@media (max-width: 768px) {
    .aboutHeader {
        font-size: 36px;
    }

    .aboutText {
        font-size: 20px;
    }
    
    .btn {
        font-size: 16px;
    }
}
